.programs-heading {
    text-align: center;
    margin: 100px 0 50px;

    h2 {
        text-align: center;
        font-size: 48px;
        font-weight: 700;
    }

    p {
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        width: 900px;
        line-height: 25px;
        padding-top: 10px;
        margin: auto;
    }
}

.programs-box {
    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            margin: 14px 10px;

            img {
                height: 400px;
                display: block;
            }
        }
    }
}