@media screen and (max-width:767px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    .slider {
        height: 60vh;

        .top-heading {

            .logo {
                a {
                    img {
                        height: 45px;
                    }
                }
            }

            .menu {
                display: none;
            }

            .menu-social-icon {
                display: none;
            }

            .menu-icon {
                display: block;

                a {
                    img {
                        height: 40px;
                    }
                }
            }
        }

        .slider-text {
            left: 5%;
            top: 33%;
            transform: translate(0%, -50%);

            h1 {
                font-size: 32px;
                width: 322px;
            }
        }
    }


    .services-heading {
        margin-top: 60px;

        h2 {
            font-size: 38px;
        }

        p {
            font-size: 16px;
            width: 344px;
        }
    }

    .services-box {
        ul {
            flex-direction: column;

            li {
                margin: 40px 0px 0;
                width: 100%;

            }
        }
    }

    .programs-heading {
        margin: 40px 0 40px;

        h2 {
            font-size: 38px;
        }

        p {
            font-size: 16px;
            width: 344px;
        }
    }

    .programs-box {
        ul {
            flex-direction: column;

            li {
                margin: 8px 0;
                width: 100%;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .offar-all {

        height: auto;

        .offar {

            ul {
                flex-direction: column;
                padding: 0;

                li {
                    margin: 50px 0;
                }
            }
        }
    }

    .trainers {
        ul {
            flex-direction: column;
            margin-top: 40px;

            li {
                margin: 20px 0;
            }
        }
    }

    .workout {
        height: 60vh;

        .workout-text {
            h2 {
                width: 300px;
            }
        }
    }

    .plans-heading {

        margin: 40px 0 40px;

        h2 {
            font-size: 38px;
        }

        p {
            font-size: 16px;
            width: 344px;
        }
    }

    .plans {
        ul {
            flex-direction: column;
            margin-top: 40px;

            li {
                width: 100%;
                margin: 8px 0;

                .plans-text {
                    padding: 45px 0;

                    p {
                        font-size: 29px;
                        width: 257px;
                    }
                }
            }
        }
    }

    .about-heading {
        margin: 40px 0 40px;

        h2 {
            font-size: 38px;
        }

        p {
            font-size: 16px;
            width: 344px;
        }
    }

    .about {
        ul {
            flex-direction: column;

            li {
                width: 100%;
                margin: 10px 0;

                >img {
                    width: 100%;
                    height: auto;
                }

                .about-text {
                    p {
                        width: 348px;
                    }
                }
            }
        }
    }

    .membership {
        height: 40vh;

        .membership-bottan {
            ul {
                li {
                    margin: 80px 5px;
                }
            }
        }
    }

    .fhutar {
        flex-direction: column;
        margin: 70px 0;

        .fhutar-centar {
            flex-direction: column;
            margin: 30px 0;

            .fhutar-centar-right {
                margin: 30px 0;
            }
        }

    }
}